name: Deploy to VPS

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add VPS to known_hosts
      run: |
        ssh-keyscan -H ${{ secrets.VPS_IP }} >> ~/.ssh/known_hosts

     # Step to install dependencies and run linting
    - name: Install dependencies and run lint
      run: |
       npm ci
      #  yarn lint

    - name: Deploy to VPS
      run: |
        if [ "${{ github.ref_name }}" == "dev" ]; then
          ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_IP }} "
            cd /srv/jimmystickmanbackend &&
            git fetch --all &&
            git reset --hard origin/dev &&  # Ensure you're pulling the latest changes
            npm install &&
            cp .env.dev .env && # Use dev environment variables
            npm run build:dev &&  # Build the project for development
            export NODE_ENV=development &&  # Set NODE_ENV explicitly to development
            export $(grep -v '^#' .env | xargs) &&  # Load environment variables from .env
            /usr/local/bin/pm2 restart jimmystickman-express-dev
          "
        fi